
/* filename: styles.css */
/* author: jules */

.navbar{
    display: grid;
    grid-template-columns: 29% 10% 50% 20% auto;
    background-color: lightblue;
    padding-left: 100px;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #e1e1e1;
    line-height: 50px;
}
#footerTime{
    float: right;
    margin-right: 1em;
}